@model IEnumerable<FinalProject.Models.Delivery>

@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delivery</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="deliveryTable">
    @Html.Partial("_DeliveryTable", Model)
</div>

<script>
    $(document).ready(function () {
        $('#deliverySearchForm').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: '@Url.Action("Index", "Delivery")',
                data: formData,
                type: 'GET',
                success: function (result) {
                    $('#deliveryTable').html(result);
                },
                error: function () {
                    alert('Error occurred while loading deliveries.');
                }
            });
        });
    });
</script>