@model IEnumerable<FinalProject.Models.Payment>

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="paymentTable">
    @Html.Partial("_PaymentTable", Model)
</div>

<script>
    $(document).ready(function () {
        $('#paymentSearchForm').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: '@Url.Action("Index", "Payment")',
                data: formData,
                type: 'GET',
                success: function (result) {
                    $('#paymentTable').html(result);
                },
                error: function () {
                    alert('Error occurred while loading payments.');
                }
            });
        });
    });
</script>