@* Partial view for a reusable search bar *@
<form method="get" action="@Url.Action("Index", "Products")" class="form-inline">
    <input type="text" name="searchTerm" class="form-control mr-2" placeholder="Search..." />
</form>

